/*Stylesheet for app*/

#body{
    -fx-background-color: #3D3D3D;  
}

.level-1-panes{ /*pane level above background/body*/
    -fx-background-color: #444444;
    -fx-background-radius: 20px;
}

/**recipe component*/    
.recipeBtn{
    -fx-background-color: linear-gradient(to bottom right, #FF5796 , #fa9e35);
    -fx-background-radius: 20px;
    -fx-padding: 20px;
    -fx-border-radius: 20px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-family: "Inter", "Arial";
    -fx-alignment: CENTER;                                                          /*Font-family of button*/
}

.recipeBtn:hover{
    -fx-background-color: #b3b3b370;
}

/**GRIDS*/
.recipeGrid{
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

/**BUTTONS*/
#addButton{
    -fx-font-size: 40px;
}

.standard-button{
    -fx-width: 100px;
    -fx-height: 100px;
    -fx-font-size: 20px;                                                                            /*font size*/
    -fx-font-family: "Inter", "Arial";                                                                       /*Font-family of button*/
    -fx-background-color: linear-gradient(to bottom right, #FF5796 , #fa9e35);    /* lager en linear gradient som er korrekt for knappene vi ønsker i appdesign*/
    -fx-background-radius: 40px;                                                                    /*!fungerer som border radius men gjør at du kan klikke rett utenfor, border radius fungerer ikke på knappen ?*/
    -fx-text-fill: white;                                                                       /*Colors the text inside button like a +*/
    -fx-padding: 0px 15px;                                                                          /*fixes that the button is higher than it is wide*/ 
}


/**RECIPE VIEW AND RECIPE COMPONENTS IN GRID*/
.recipe-view-text{
    -fx-font-size: 20px;
    -fx-font-family: "Inter", "Arial";
    -fx-text-fill: white;
}

.recipe-header{
    -fx-text-fill: white;
    -fx-font-size: 23px;
}
